/* Defined variables with common properties across the page */
:root {
    --container-border: 2px solid white;
    --container-bgcolor: rgb(58, 58, 83);
    --primary-fontcolor: rgb(58, 58, 83);
}

/*Remove browser defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header section styling */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    background-color: var(--container-bgcolor);
    width: 100%;
}
header h1 {
    font-size: 38px;
    column-width: 200px;
    text-align: right;
    padding: 10px;
}
h1 a {
    text-decoration: none;
    color: white;
}
.headermenu ul {
    display: flex;
}
.headermenu ul li {
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    margin: 0 30px;
    border-bottom: 2px solid white;
}
.headermenu ul li a {
    text-decoration: none;
    color: white;
}

/* Hover over effect for menu items */
.headermenu ul li:hover {
    font-size: 28px;
    color: darkolivegreen;
    background-color: brown;
}

/* Hero section */
.hero-section {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px 50px;
    height: 200px;
    background-image: url("../images/san-francisco-skyline-panorama-l.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
}
.hero-text {
    border: 2px solid white;
    padding: 15px;
    color: white;
    border-radius: 8px;
    height:fit-content;
    justify-content: space-between;
    background-color: var(--container-bgcolor);
    max-width: 910px;
}

/*  Main body content shared layout */
.main-content {
    background-color: rgb(211, 214, 238);
}

/* Divide up the main sections of the body with same properties */
.section-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

/* Common properties for left-side header of the container elements */
.left-head {
    flex: 20%;
    font-size: x-large;
    border-color: darkslategray;
    border-right-width:3px;
    border-right-style: solid;
    text-align: right;
    padding-right: 8px;
    max-width: 200px;
}

/* Common properties for right-side of the flexbox elements */
.whataboutme, .projects, .contactme-list {
    flex: 80%;
    max-width: 700px;
    margin-left: 50px;
}

/****** About Me Section specifics */
#aboutme {
    margin-top: 20px;
}
.whataboutme {
    display: flex;
    margin-top: 20px;
}
.selfie img {
    height:300px;
    width:250px;
    border:var(--container-border);
}
.write-up {
    color: var(--primary-fontcolor);
    border: none;
    text-align: left;
    margin-left: 20px;
}

/*************** Work Section ***************/

/****** Projects Container *******/
/* Top project A */
.project-a {
    position: relative;
    border: var(--container-border);
    margin-bottom: 10px;
}
.project-a:hover {
    transform: scale(1.05);
}

.project-a img {
    display: block;
    width: 100%;
}
.project-a h3 {
    position: absolute;
    bottom: 10px;
    left: 0px;
    background-color: var(--container-bgcolor);
    color: white;
    padding: 20px;
    text-decoration: none;
}
/* Project B & C Container */
.project-bc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100px;
    margin-bottom: 10px;
    /*border: 5px solid red; */
}
.project-b {
    flex: 49%;
    border: var(--container-border);
    margin-right: 1%;
    background-image: url("../images/Code-Refactor-bgImage.png");
    background-position: center;
    background-size: cover;
    /*border: 5px solid blue; */
}
.project-b:hover {
    transform: scale(1.05);
}
.project-b h3 {
    position: relative;
    top: 20px;
    left: 0px;
    background-color: var(--container-bgcolor);
    color: white;
    padding: 20px;
    width:fit-content;
}
.project-b a {
    text-decoration: none;
}
.project-c {
    flex: 49%;
    border: var(--container-border);
    background-image: url("../images/myPorfolio.png");
    background-size: cover;
    background-position: center;
    /*border: 5px solid green; */
}
.project-c:hover {
    transform: scale(1.05);
}
.project-c h3 {
    position: relative;
    top: 20px;
    left: 0px;
    background-color: var(--container-bgcolor);
    color: white;
    padding: 20px;
    width:fit-content;
}
.project-c a {
    text-decoration: none;
}

/* Project D & E Contaier */

.project-de {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100px;
}
.project-d {
    flex: 49%;
    border: var(--container-border);
    background-image: url("../images/projectd-placeholderImage.jpg");
    background-position: center;
    background-size: cover;
    margin-right: 1%;
}
.project-d:hover {
    transform:scale(1.05);
}
.project-d h3 {
    position: relative;
    top: 20px;
    left: 0px;
    background-color: var(--container-bgcolor);
    color: white;
    padding: 20px;
    width:fit-content;
}
.project-e {
    flex: 49%;
    border: var(--container-border);
    background-image: url("../images/projecte-placeholderImage.jpg");
    background-position: center;
    background-size: cover;
}
.project-e:hover {
    transform: scale(1.05);
}
.project-e h3 {
    position: relative;
    top: 20px;
    left: 0px;
    background-color: var(--container-bgcolor);
    color: white;
    padding: 20px;
    width:fit-content;
}

/********** Contact Me Section **************/

.contactme-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 20px 40px 20px;
    align-items: center;
}
.contactme-list ul {
    /*width: 60%; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.contactme-list ul li {
    padding: 0 5px;
    font-size: 25px;
    font-weight: bold;
    color: darkslategray;
    list-style: none;
    margin: 0 25px;
    border-bottom: 5px solid black;
}
.contactme-list ul li a {
    text-decoration: none;
    color: darkslategray;
}